/* css/style.css */

/* Blocks that came with the template */
@media screen and (min-width: 768px) {
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

/* Custom styling */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: AntiqueWhite;
}
/* Jumbotron */
.jumbotron {
    background: black;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/cabin_closeup.jpg) no-repeat;
    background-size: 100%;

    font-family: cursive;
    color: white;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron p {
    font-family: fantasy;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
    font-family: sans-serif;
    color: white;
    text-shadow: none;
    margin-bottom: -20px;
}
.jumbotron a {
    color: white;
}

/* Nav */
nav {
    font-family: sans-serif;
}
.navbar-brand {
    font-family: cursive;
}

/* Scenes */
.scene {
    margin-top:-5px;
}
.gallery-row {
    padding-bottom: 1em;
}
.gallery-row img {
    border-radius: 4px;
    border: 2px solid white;
}
.raised-photo {
    box-shadow: 1px 3px 10px black;
    transition: all 0.2s linear;
}
iframe {
    width: 100%;
}
